
.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  padding: 20px 10px;
  margin: auto;
  border-radius: 0px 40px 0px 40px;
  box-shadow: 5px 3px 50px 0 black;
  background: white;
  font-family: Montserrat;
}

.inputfeild {
  border-radius: 7px;
  height: 28px;
}

.searchButton {
  background: cadetblue;
  background-color: green;
  border-radius: 7px;
  width: 87px;
  height: 27px;
  margin-left: 10px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
}

i {
  margin-right: 5px;
}

@media screen and (max-width: 600px){
.box{
  width: 328px;
}
}